
/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Bungee|Damion');

@font-face {
    font-family: 'Geomanist';
    font-weight: 400;
	src: url('../fonts/regular/geomanist-regular-webfont.woff2') format('woff2'),
		url('../fonts/regular/geomanist-regular-webfont.woff') format('woff'),
		url('../fonts/regular/geomanist-regular-webfont.ttf') format('truetype'),
		url('../fonts/regular/geomanist-regular-webfont.svg#geomanistregular') format('svg');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 500;
	src: url('../fonts/medium/geomanist-medium-webfont.woff2') format('woff2'),
		url('../fonts/medium/geomanist-medium-webfont.woff') format('woff'),
		url('../fonts/medium/geomanist-medium-webfont.ttf') format('truetype'),
		url('../fonts/medium/geomanist-medium-webfont.svg#geomanistregular') format('svg');
}

/* Default Overrides */

* {
	border: 0;
	box-sizing: border-box;
	outline: none
}

body, h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0
}

body {
	background: #0d1114;
	color: white;
	font-family: 'Geomanist', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1
}

a, a:visited, h1, h4 { color: white }

a, a:visited {
	font-weight: 400;
	text-decoration: underline
}

footer {
	font-size: 14px;
	margin: 60px 0 40px 0;
	text-align: center
}

h1, h4 { font-weight: 500 }

h1 {
	color: #ff05ed;
	cursor: default;
	font-family: 'Damion', cursive;
	font-size: 2em;
	text-shadow: 2px 2px 0 black
}

h4 { font-size: 1.2em }

header {
	align-items: center;
	background: linear-gradient(to bottom, rgba(13, 17, 20, .5), #0d1114 100%),
		url('images/times_square_nyc.jpg') no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-flow: column wrap;
	height: 100vh;
	justify-content: space-evenly
}

header p {
	color: white;
	cursor: default;
	font-family: 'Bungee', 'Geomanist', Helvetica, sans-serif;
	font-size: 4.5em;
	line-height: 1.4em;
	max-width: 60%;
	text-align: center;
	text-shadow: 6px 6px 0 black
}

header span {
	color: #ff05ed;
	font-family: 'Damion', cursive;
	line-height: 2em;
	text-shadow: 2px 4px 0 black
}

li {
	line-height: 1.5em;
	margin-top: 16px
}

li:first-of-type { margin-top: 0 }

main {
	margin: auto;
	padding-top: 40px;
	width: 60%
}

p {
	line-height: 1.8em;
	margin-top: 16px
}

section { padding-top: 40px }

ul {
	list-style-position: inside;
	list-style-type: none;
	margin-top: 16px
}

/* Custom Styles */

#author {
	border-radius: 10px;
	box-shadow: 0 5px 20px black;
	float: left;
	margin-right: 40px;
	width: 40%
}

#contact-options {
	display: flex;
	justify-content: space-evenly;
	width: 100%
}

#contact-options a {
	color: white;
	font-family: 'Bungee', 'Geomanist', Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	opacity: 0.9;
	text-decoration: none;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .4)
}

#contact-options a:hover { color: #ff05ed }

#photo-credits {
	color: rgba(255, 255, 255, .85);
	font-size: 0.8em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .4)
}

#photo-credits a { color: rgba(255, 255, 255, 1) }

#portfolio img {
	border-radius: 4px;
	box-shadow: 0 5px 20px black;
	margin: 40px 0;
	width: 100%
}

#portfolio .mobile-screenshots {
	display: flex;
	flex-flow: row nowrap;
	width: 100%
}

#portfolio .mobile-screenshots img {
	height: 30%;
	width: 30%
}

#portfolio .mobile-screenshots img:first-of-type { margin-left: 0 }

#portfolio .mobile-screenshots .spacer { width: 5% }

#portfolio .project { margin-top: 40px }

#read-more {
	padding-top: 40px;
	text-align: center
}

.wrapped-content { margin-top: 40px }

.wrapped-content::after {
	content: "";
	clear: both;
	display: table
}

/* Mobile Optimizations */

@media only screen and (min-device-width: 320px) and (max-device-width: 1366px) {
	header { background-attachment: scroll }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
	main { width: 80% }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
	header p {
		font-size: 2.5em;
		line-height: 1.7em;
		max-width: 75%
	}

	li, p { font-size: 1.1em }

	main {
		padding: 40px 40px 0 40px;
		width: 100%
	}

	#author {
		float: none;
		width: 100%
	}

	#contact-options a { font-size: 1.1em }

	#portfolio .mobile-screenshots { flex-flow: column nowrap }

	#portfolio .mobile-screenshots img {
		margin-top: 20px;
		width: 100%
	}

	#portfolio .mobile-screenshots img:first-of-type { margin-top: 40px }

	#portfolio .mobile-screenshots .spacer { display: none }
}
