@font-face {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/regular/geomanist-regular-webfont.eot');
    src: url('../fonts/regular/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/regular/geomanist-regular-webfont.woff') format('woff'),
         url('../fonts/regular/geomanist-regular-webfont.ttf') format('truetype'),
         url('../fonts/regular/geomanist-regular-webfont.svg#geomanistregular') format('svg');
}

@font-face {
    font-family: 'Geomanist ExtraLight';
    font-style: normal;
    font-weight: normal;    
    src: url('../fonts/extralight/geomanist-extralight-webfont.eot');
    src: url('../fonts/extralight/geomanist-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/extralight/geomanist-extralight-webfont.woff2') format('woff2'),
         url('../fonts/extralight/geomanist-extralight-webfont.woff') format('woff'),
         url('../fonts/extralight/geomanist-extralight-webfont.ttf') format('truetype'),
         url('../fonts/extralight/geomanist-extralight-webfont.svg#geomanistregular') format('svg');
}

@font-face {
    font-family: 'Geomanist Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/light/geomanist-light-webfont.eot');
    src: url('../fonts/light/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/light/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/light/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/light/geomanist-light-webfont.ttf') format('truetype'),
         url('../fonts/light/geomanist-light-webfont.svg#geomanistregular') format('svg');
}

@font-face {
    font-family: 'Geomanist Medium';    
    font-style: normal;
    font-weight: normal; 
    src: url('../fonts/medium/geomanist-medium-webfont.eot');
    src: url('../fonts/medium/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/medium/geomanist-medium-webfont.woff2') format('woff2'),
         url('../fonts/medium/geomanist-medium-webfont.woff') format('woff'),
         url('../fonts/medium/geomanist-medium-webfont.ttf') format('truetype'),
         url('../fonts/medium/geomanist-medium-webfont.svg#geomanistregular') format('svg');
}

* {
	border: 0;
	box-sizing: border-box;
	outline: none
}

body {
	background: #fff;
	color: #2C112D;
	font-family: 'Geomanist Light', Helvetica, sans-serif;
	font-size: 14px;
	height: 100%;
	letter-spacing: 0;
	line-height: 1
}

body, h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0
}

a, a:visited {
	color: #C7273F;
	text-decoration: none
}

a:hover, a:focus, a:active { text-decoration: underline }

ul { list-style-type: none }

header {
    background: url('images/header.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    height: 320px;
	position: relative
}

header img { width: 100% }

header .overlay {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );	
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%	
}

#intro {
	bottom: 30px;
	color: #fff;
	font-size: 16px;
	left: 0;
	position: absolute;
	width: 100%		
}

#intro ul { text-align: center }

#intro ul li {
	background: url('../images/social-links.png');
	display: inline-block;
	height: 40px;
	margin-right: 14px;
	width: 40px
}
#intro ul li:last-child { margin-right: 0 }
#intro ul li.github   { background-position: 0 0 }
#intro ul li.linkedin { background-position: -40px 0 }
#intro ul li.facebook { background-position: -80px 0 }
#intro ul li.twitter  { background-position: -120px 0 }
#intro ul li.email    { background-position: -160px 0 }

#intro ul li a {
	display: block;
	height: 40px;
	width: 40px
}

#intro p {
	margin: 60px auto 0 auto;
	max-width: 405px;
	text-align: center
}

section {
	margin: auto;
	padding-top: 50px;
	width: 580px
}

h1 {
	font-family: 'Geomanist Light';
	font-size: 26px;
	font-weight: normal
}

p { line-height: 25px }

#work { padding-top: 60px }

#work p {
	font-size: 14px;
	margin-top: 40px
}

#work img {
	margin-top: 20px;
	width: 100%
}

#desc p {
	margin-top: 20px;
	text-align: center
}

#about { padding-top: 60px }

#about img {
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
	display: block;
	margin: 40px auto 0 auto;
	width: 100%
}

#about p, #interests p, #org p { margin-top: 40px }

#skills ul {
	list-style-position: inside;
	list-style-type: upper-roman;
	margin-top: 40px
}
#skills ul li { margin-top: 14px }

footer {
	font-size: 14px;
	margin: 60px 0 30px 0;
	text-align: center;
}

@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 640px) {
		body { font-size: 16px }
		header {
			background: url('images/header-mobile.jpg') no-repeat center center;
			background-size: cover;
			-webkit-background-size: cover;
		}
		section {
			padding-left: 40px;
			padding-right: 40px;
			width: 100%
		}
		
		#intro {
			font-size: 14px;
			padding: 0px
		}	
		
		#skills ul { list-style-position: outside }
		#skills ul li { line-height: 25px }
}

@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1366px) {
		header {
			background: url('images/header-ipad.jpg') no-repeat center center;
			background-size: cover;
			-webkit-background-size: cover;
		}		
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	#intro ul li {
		background: url('../images/social-links@2x.png');
		background-size: 200px 40px
	}
	#intro p {
		font-family: 'Geomanist', Helvetica, sans-serif;
		padding: 0px 40px
	}
}
