@font-face {
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/regular/geomanist-regular-webfont.eot');
    src: url('../fonts/regular/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/regular/geomanist-regular-webfont.woff') format('woff'),
         url('../fonts/regular/geomanist-regular-webfont.ttf') format('truetype'),
         url('../fonts/regular/geomanist-regular-webfont.svg#geomanistregular') format('svg');
}

@font-face {
    font-family: 'Geomanist ExtraLight';
    font-style: normal;
    font-weight: normal;    
    src: url('../fonts/extralight/geomanist-extralight-webfont.eot');
    src: url('../fonts/extralight/geomanist-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/extralight/geomanist-extralight-webfont.woff2') format('woff2'),
         url('../fonts/extralight/geomanist-extralight-webfont.woff') format('woff'),
         url('../fonts/extralight/geomanist-extralight-webfont.ttf') format('truetype'),
         url('../fonts/extralight/geomanist-extralight-webfont.svg#geomanistregular') format('svg');
}

@font-face {
    font-family: 'Geomanist Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/light/geomanist-light-webfont.eot');
    src: url('../fonts/light/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/light/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/light/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/light/geomanist-light-webfont.ttf') format('truetype'),
         url('../fonts/light/geomanist-light-webfont.svg#geomanistregular') format('svg');
}

@font-face {
    font-family: 'Geomanist Medium';    
    font-style: normal;
    font-weight: normal; 
    src: url('../fonts/medium/geomanist-medium-webfont.eot');
    src: url('../fonts/medium/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/medium/geomanist-medium-webfont.woff2') format('woff2'),
         url('../fonts/medium/geomanist-medium-webfont.woff') format('woff'),
         url('../fonts/medium/geomanist-medium-webfont.ttf') format('truetype'),
         url('../fonts/medium/geomanist-medium-webfont.svg#geomanistregular') format('svg');
}

* {
	border: 0;
	box-sizing: border-box;
	outline: none
}

body {
	color: #000;
	font-family: 'Geomanist ExtraLight', Helvetica, sans-serif;
	font-size: 18px;
	height: 100%;
	letter-spacing: 0;
	line-height: 1
}

body, h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0
}

a, a:visited {
	color: #000;
	text-decoration: none
}

a:hover, a:focus, a:active { text-decoration: underline }

ul { list-style-type: none }

header {
	height: 400px;
	margin: auto;
	padding-top: 100px;
	width: 895px
}

header div {
	display: none;
	font-family: 'Geomanist Medium';
	font-size: 60px;
	line-height: 65px
}

header img {
	height: 100%;
	width: 100%
}

main {
	margin: auto;
	padding-top: 20px;
	width: 895px
}

main .col {
	display: table-cell;
	min-height: 175px;
	vertical-align: top
}
main .col.left  { width: 180px }
main .col.right { width: 715px }

section { padding-top: 60px }
section .col.left div { line-height: 22px }

#intro { padding-top: 40px }

h1 {
	font-family: 'Geomanist Light';
	font-size: 20px;
	font-weight: normal
}

h2 {
	font-size: 14px;
	font-weight: normal;	
	margin: 10px 0 30px 0
}

p { line-height: 25px }

.grid { width: inherit }
.grid .tile {
	display: table-cell;
	width: 50%
}

.grid .tile:nth-child(even) { padding-left: 20px }
.grid .tile:nth-child(odd)  { padding-right: 20px }

#intro img {
	border-radius: 50%;
	display: block;
	height: 120px;	
	width: 120px
}

#intro div:first-child {
	font-family: 'Geomanist ExtraLight';
	font-size: 32px
}

#intro a[href^="tel"] {
	display: inline-block;
	font-size: 20px;
	margin-top: 20px
}

#intro a[href^="mailto"] {
	display: block;
	font-size: 20px;
	margin-top: 10px
}

#location {
	background: url('../images/location.png') no-repeat 0 center;
	margin-bottom: 40px;
	padding-left: 22px
}

#proj { padding-top: 80px }

#proj .showcase {}

#proj .showcase .app {}
#proj .showcase .app:nth-child(even) { margin-top: 40px }

#proj .showcase .app .icon {
	float: left;
	height: 140px;
	margin-right: 20px;
	width: 100px
}

#proj .showcase .app .icon.releasify { background: url('../images/icon-releasify.png') no-repeat center 0 }
#proj .showcase .app .icon.inferno   { background: url('../images/icon-inferno.png') no-repeat center 0 }

#proj .showcase .app .info {}

#proj .showcase .app .info .title {
	font-family: 'Geomanist Light';
	font-size: 20px
}

#proj .showcase .app .info .platform {
	float: right;
	font-size: 14px
}

#proj .showcase .app .info .release-date {
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px
}

#proj .showcase .app .info a {
	color: blue;
	display: inline-block;
	font-size: 14px;
	margin-top: 10px
}

#proj .showcase .app .info p { margin-top: 15px }

#skills ul li { margin-top: 14px }
#skills ul li:first-child { margin-top: 0 }

#skills ul li a { color: blue }

footer { height: 60px }

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
	#location {
		background: url('../images/location@2x.png') no-repeat 0 center;
		background-size: 18px
	}
	
	#proj .showcase .app .icon.releasify {
		background: url('../images/icon-releasify@2x.png') no-repeat center 0;
		background-size: 100px
	}
	
	#proj .showcase .app .icon.inferno {
		background: url('../images/icon-inferno@2x.png') no-repeat center 0;
		background-size: 100px
	}	
}
